body {
    background: #0f172a;
    font-family: Poppins;
    color: white;
}

.profile-container {
    padding: 30px;
}

button {
    padding: 10px;
    background: #3b82f6;
    border: none;
    border-radius: 8px;
    color: white;
}

#profile {
    margin-top: 20px;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
}